<mat-toolbar class="toolbar" fxLayoutAlign="center center" fxLayout.xs="row wrap">
    <mat-toolbar-row fxLayout.xs="row" fxFlex.xs="70">
        <div class="bookImage" fxLayout="row" fxLayoutAlign="start center" (click)="bookstore()" fxLayout.xs="row" fxFlex.xs="30">
            <div class="Image">
                <img src="../assets/education.svg">
            </div>
            <div>
                <span class="name">Bookstore</span>
            </div>
        </div>
        <mat-card class="searchbar" fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="row" fxFlex.xs="40">
            <mat-icon class="search_bar">search</mat-icon>
            <input type="text" name="search" placeholder="Search ..." class="search" fxHide.xs fxHide.sm>
        </mat-card>
        <div class="profileImage" [matMenuTriggerFor]="menu"
        fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="row" fxFlex.xs="50">
            <mat-icon class="profileimg">person_outline</mat-icon>
            <span class="profileName" fxHide.xs fxHide.sm>profile</span>
        </div>
        <mat-menu #menu="matMenu" class="my-menu">
        <button mat-menu-item><mat-icon class="icon">person_outline</mat-icon>Profile</button>
        <button mat-menu-item><mat-icon class="icon">local_mall</mat-icon>My Orders</button>
        <button mat-menu-item (click)="wishlist()"><mat-icon class="icon">favorite_border</mat-icon>Wishlist</button>
        <button mat-menu-item class="Logout" (click)="Logout()">Logout</button>
        </mat-menu>
        <div class="Cart" (click)="Cart()" fxLayout="column" fxLayoutAlign="end center" fxLayout.xs="row" fxFlex.xs="50">
        <button style="background-color: rgb(141, 32, 32); border: none; cursor: pointer;" matBadge={{badgeCount}}  matBadgeSize="small" matBadgePosition="after" matBadgeColor="warn">
            <mat-icon class="cartIcon">shopping_cart</mat-icon>
        </button>
            <span class="cartName" fxHide.xs fxHide.sm>cart</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div>
<div>
    <app-footer></app-footer>
</div>