<div class="container" fxLayout="column" fxLayoutAlign="start center">
    <div>
        <img src="" width="200px" height="200px;">
    </div>

    <div>
        <p style="text-align: center;font: normal normal normal 18px/22px Lato;color: #333232;opacity: 1;">
            hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
            communication..
        </p>
    </div>
    <div fxLayout="row" style="border: 1px solid black; background-color: whitesmoke; height: 5%; width: 70%;">
        <div style="margin-right: 20%; margin-left: 15%;">
            <h3>Email</h3>
        </div>
        <div>
            <h3>Contact us</h3>
        </div>
        <div>
            <h3 style="margin-left: 450%;">Address</h3>
        </div>
    </div>
    <TABLE style="border: 1px solid black; width: 70%;" cellpadding="10" cellspacing="0">
        <TR>
            <TH style="color: #333232;opacity: 0.71; padding-bottom: 5%;"> admin@bookstore.com</TH>
            <TH style="color: #333232;opacity: 0.71;">7066167445</TH>
            <TH style="color: #333232; opacity: 0.71;">Civil Lines Chandrapur Maharashtra</TH>
        </TR>
    </TABLE>
    <div>
        <button class="continueshopping" style="color: white;" (click)="continueShopping()">Continue Shopping</button>
    </div>
</div>