<div fxLayout="column">
    <mat-card class="mywishlist" fxLayoutAlign="start center">
        <span>My Wishlist({{wishlistCount}})</span>
    </mat-card>
    <mat-card class="book" fxLayout="row" fxLayoutAlign="start center" *ngFor="let book of wishList">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div>
                <div class="image" fxLayoutAlign="start center">
                    <img src="../assets/Image 11@2x.png" class="bookImage">
                </div>
            </div>
            <div class="bookdetails">
                <div class="bookname">
                    {{book.product_id.bookName}}
                </div>
                <div class="author">
                    by {{book.product_id.author}}
                </div>
                <div class="rating" fxLayoutAlign="start center">
                    4.5
                    <mat-icon style="font-size: 10px; margin-top: 12px;">star</mat-icon>
                </div>
                <div class="prize" fxLayout="row" fxLayoutGap="5px">
                    <div class="mrp">
                        Rs.{{book.product_id.discountPrice}}
                    </div>
                    <div class="discount">
                        <del> Rs.{{book.product_id.price}} </del>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightdiv" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="80%">
            <img src="../assets/delete.png" id="delete" (click)="deleteWishlist(book)">
        </div>
    </mat-card>
</div>