<div fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="row" fxFlex.xs="95">
    <div class="sideTwoImg" fxLayout="column" fxLayoutGap="10px">
        <div class="image1">
            <img src="../assets/Image 11@2x.png" id="img1">
        </div>
        <div class="image2">
            <img src="../assets/Image 46@2x.png" id="img2">
        </div>
    </div>
    <div class="imageContainer" fxLayout="column">
        <div class="container" fxLayout="row">
            <div class="image">
                <img src="../assets/Image 11@2x.png">
            </div>
        </div>

        <div class="buttonContainer" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <button *ngIf="addtobag" mat-raised-button class="addtobag" (click)="addtoCart()">
                    add to bag
                </button>
                <div *ngIf="quantity" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button mat-icon-button (click)="decrement()">
                        <span class="book_quantity">-</span>
                    </button>
                    <span style="font-size: 15px;">{{book_qty}}</span>
                    <button mat-icon-button (click)="increment()">
                        <span class="book_qty">+</span>
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="addtowishlist">
                <button mat-flat-button (click)="addtoWishlist()" class="wishlistbtn">
                    <mat-icon class="wishlistIcon">favorite</mat-icon>wishlist
                </button>
            </div>
        </div>
    </div>

    <div class="bookDetails" fxLayout="column">
        <div fxLayout="column">
            <div class="bookName">
                {{bookData?.bookName}}
            </div>
            <div class="author">
                by {{bookData?.author}}
            </div>
            <div class="rating" fxLayout="row" fxLayoutAlign="center center">
                <span>4.5</span>
                <mat-icon class="starIcon">star</mat-icon>
            </div>

            <div class="prize" fxLayout="row" fxLayoutGap="10px">
                <div class="price">
                    Rs.{{bookData?.discountPrice}}
                </div>
                <div class="discountprice">
                    <del> Rs. {{bookData?.price}} </del>
                </div>
            </div>
        </div>
        <mat-divider class="divider"></mat-divider>
        <div fxLayout="column" fxLayoutAlign="start start">
            <span class="bookdesc">Book Detail</span>
            <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat commodi et<br> possimus quidem
                veritatis.
                Quas nesciunt quis, nobis inventore esse voluptatem,<br>corporis quod necessitatibus officiis, natus
                animi
                velit. Debitis, eveniet.
            </p>
        </div>
        <mat-divider class="divider"></mat-divider>
        <div class="customer">
            <span>Customers Feedback</span>
        </div>
        <div class="overallratin">
            <div class="rate">
                <p class="ratename">Overall Rating</p>
                <div class="starrating">
                    <input type="radio" id="rate-5" [(ngModel)]="value" name="rate" value="5">
                    <label for="rate-5" class="fa fa-star"></label>
                    <input type="radio" id="rate-4" [(ngModel)]="value" name="rate" value="4">
                    <label for="rate-4" class="fa fa-star"></label>
                    <input type="radio" id="rate-3" [(ngModel)]="value" name="rate" value="3">
                    <label for="rate-3" class="fa fa-star"></label>
                    <input type="radio" id="rate-2" [(ngModel)]="value" name="rate" value="2">
                    <label for="rate-2" class="fa fa-star"></label>
                    <input type="radio" id="rate-1" [(ngModel)]="value" name="rate" value="1">
                    <label for="rate-1" class="fa fa-star"></label>
                </div>
            </div>
            <div>
                <input [(ngModel)]="feedback" type="text" placeholder="Write your review" class="review">
            </div>
            <div fxLayoutAlign="end center">
                <button mat-flat-button color="primary" class="submit" (click)="addFeedback()">Submit</button>
            </div>
        </div>
        <div>
            <div *ngFor="let feedback of feedbackArray">
                <button class="fabbutton" mat-mini-fab style="color: lightgrey;"
                    aria-label="Example icon button with a menu icon">
                    <mat-icon>{{getShortName(feedback.user_id.fullName)}}</mat-icon>
                </button>
                <span>{{feedback.fullName}}</span>
            </div>
            <div fxLayout="column">
                <span>{{feedback.rating}}</span>
                <span>{{feedback.comment}}</span>
            </div>
        </div>
    </div>
</div>